@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
}
.px-2:hover {
  border-bottom: 3px solid black;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.px-2 {
  transition: transform 0.3s ease-in-out;
}
.profile-image img:hover {
  box-shadow: 0px 0px 30px red;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.profile-image img {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px blue;
}
.Profiles img:hover {
  box-shadow: 0px 0px 30px grey;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.Profiles img {
  transition: transform 0.5s;
  border: 3px solid white;
}
.skill-set div {
  border: 2px solid black;
  box-shadow: 0 0 10px darkmagenta;
  border-radius: 10px;
  padding: 22px 44px;
  transition: transform 0.3s scale(1.1) ease-in-out;
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
}
.skill-set div:hover {
  box-shadow: 0px 0px 15px darkcyan;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.card {
  border: 3px solid blue;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 0px 10px white;
}
.card:hover {
  box-shadow: 0px 0px 10px pink;
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}
.achievement {
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 0px 3px pink;
}
.achievement:hover {
  box-shadow: 0px 0px 20px green;
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}
.handle {
  display: flex;
}
.handle:hover img {
  filter: brightness(0.5);
}
.handle:hover .text {
  opacity: 1;
  transition: opacity 1000ms;
}
.handle .text {
  opacity: 0;
  transition: opacity 1000ms;
}
